body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgb(248,249,250) 0%, rgba(194, 224, 202, 0.9) 100%);
    padding: 0px;
    margin: 0px;
}

.form-container {
    background: linear-gradient(180deg, rgb(216, 118, 6) 0%, rgba(245, 176, 115, 0.868) 100%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin-top: 150px;
}

#contactar {
    text-align: center;
    margin-bottom: 1.5rem;
}

fieldset{
    border: 2px solid black;
    padding: 15px 15px;
}

form *::placeholder {
    font-variant: small-caps;
    
}

.asterisco {
    color: darkred;
    font-size: 25px;
}

#Textarea {
    height: 200px;
    resize: none;
}

/* corbotoes*/
.corBotao {
    background-color: darkgray;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    opacity:1 ;
    transition: opacity 0.3s;
}
.corBotao:hover {
    box-shadow: black 5px 5px 15px;
    transform: translateY(-2px);
    opacity: 0.8;
}

#botões {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Rodapé */
footer {
    background-color: #3e5a72;
    padding: 0px;
    margin: 0px;

}

h5 {
    color: rgb(235, 255, 241);
    font-family: 'Segoe UI', 'Poppins', sans-serif;
}

h6 {
    color: rgb(118, 118, 118);
    font-family: 'Segoe UI', 'Poppins', sans-serif;
}


footer .nav-link.p-0.text-body-secondary {
    color: #ebeae8 !important;
}

.logo {
    width: 60px;
    height: auto;
}

.s-logo {
    width: 40px;
    height: auto;
}

.navbar {
    background: linear-gradient(90deg, rgb(179, 224, 192) 0%, rgba(21, 139, 54, 0.90) 100%);
    border-radius: 20px;
    margin: 20px;
}
a {
    color: #28a745;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.modal-content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.modal-body {
    padding: 0;
}