body{
    background-color: rgba(71, 203, 84, 0.884);
    font-weight: bold;
    font-size: large;
   
}
/*label, span, input {
    text-decoration-color: success;
}*/
fieldset{
    border: 2px solid gold;
    padding: 5px 15px;
}
.asterisco {
    color: darkred;
}

#Textarea {
    height: 40px;
}


#botões {
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

a {
    color: #28a745;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}