body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(170, 232, 182) 0%, rgba(51, 151, 79, 0.868) 100%);
    margin: 0;
    padding: 0;
}

.form-container {
    background: linear-gradient(180deg, rgb(216, 118, 6) 0%, rgba(245, 176, 115, 0.868) 100%);;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

#contactar {
    text-align: center;
    margin-bottom: 1.5rem;
}

fieldset{
    border: 2px solid black;
    padding: 15px 15px;
}

form *::placeholder {
    font-variant: small-caps;
    
}

.asterisco {
    color: darkred;
}

#Textarea {
    height: 40px;
}


#botões {
    display: flex;
    justify-content: center;
    gap: 15px;    
}